body {background-image: url("imgs/location.jpg");background-repeat: no-repeat;background-size: cover; background-position: center;background-attachment: fixed; margin: 50px 0px 0px 70px; ;
      height: calc(100vh - 50px);}
html { background-color: #1e1e24;}
.poisk{ position: fixed;top: 10px;right: 40px;display: flex;border-radius: 6px;overflow: hidden; }
.poisk-input{width: 170px;height:30px}