<head>
    <!doctype html>
<html lang="ru">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<a href="/"><img src="determination.png" alt="Решимость"></a>
<form class="poisk">
    <input type="text" class="poisk-input" placeholder="Истинный посик ">
    <button class="poisk-button" type="submit">Найти</button>
</form>
<img src="underhub.png" alt="UnderHub">
<h1>ЗДРАВСТВУЙ... ЧЕЛОВЕК?</h1>
<p>Без лишней воды, немного про сайт: он разделён на две части: одна посвящена Undertale, а вторая - Undertale Yellow. Ты в любой момент можешь вернуться на главную страницу и перейти в другую часть, нажав кнопку сверху.</p>




</body>