<head>
    <!doctype html>
<html lang="ru">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>


<form class="poisk">
    <input type="text" class="poisk-input" placeholder="Истинный посик ">
    <button class="poisk-button" type="submit">Найти</button>
</form>

<a href="/" class ="home-ref"> <img class ="home-button" src="/static/imgs/logo.png"> </a>
<div class="fon-2">



</div>

<a href="/yellow/" class="button"> <img src="imgs/Clover_overworld.png" id="image" onmouseover="changeimage(Clover_overworld_alt.png)" onmouseout="changeimage(Clover_overworld.png)"> </a>



</body>